allow platform_app battery_service:service_manager find;
allow platform_app healthd_service:service_manager find;
allow platform_app persist_file:dir search;
allow platform_app persist_file:file { read open getattr write };
